packages/**/LICENSE

packages/depscloud-api-nodejs/depscloud_api/**/*.proto
packages/depscloud-api-nodejs/depscloud_api/**/*.yaml
packages/depscloud-api-nodejs/coverage/
packages/depscloud-api-nodejs/node_modules/
packages/depscloud-api-nodejs/.npmrc

packages/depscloud-api-python/build/
packages/depscloud-api-python/dist/
packages/depscloud-api-python/venv/
packages/depscloud-api-python/*.egg-info/

*.tgz
