version: "3.8"

networks:
  depscloud:

services:
  cockroachdb:
    image: cockroachdb/cockroach:v20.2.10
    hostname: cockroachdb
    networks:
      - depscloud
    ports:
      - 26257:26257
      - 8081:8080
    command:
      - start-single-node
      - --insecure

  adminer:
    image: adminer
    restart: always
    ports:
      - 8070:8080
    networks:
      - depscloud

  tracker:
    restart: on-failure
    image: depscloud/tracker:${TRACKER_VERSION:-latest}
    hostname: tracker
    networks:
      - depscloud
    depends_on:
      - cockroachdb
    command:
      - --storage-driver=postgres
      - --storage-address=postgres://root:@cockroachdb:26257/defaultdb

  extractor:
    image: depscloud/extractor:${EXTRACTOR_VERSION:-latest}
    hostname: extractor
    networks:
      - depscloud

  indexer:
    restart: on-failure
    image: depscloud/indexer:${INDEXER_VERSION:-latest}
    hostname: indexer
    networks:
      - depscloud
    depends_on:
      - extractor
      - tracker
    volumes:
      - ./config.yaml:/etc/indexer/config.yaml
    command:
      - --config=/etc/indexer/config.yaml
      - --workers=1

  gateway:
    image: depscloud/gateway:${GATEWAY_VERSION:-latest}
    hostname: gateway
    networks:
      - depscloud
    depends_on:
      - extractor
      - tracker
    ports:
      - 8080:8080
